#include <dt-bindings/media/xilinx-vip.h>

&i2c1 {
	i2c-mux@75 {
		reset-gpios = <&gpio 12 1>;
		i2c@2 {
			camera@3c {
				compatible = "onnn,ap1302";
				reg = <0x3c>;

				clocks = <&ap1302_osc>;

				onnn,cam-config = <0>; // 0 - ar0144 dual, 1 - ar1335 single
				reset-gpios = <&gpio 39 GPIO_ACTIVE_LOW>;
				standby-gpios = <&gpio 41 GPIO_ACTIVE_HIGH>;

				port@0 {
					reg = <0>;
					ias_out0: endpoint {
						remote-endpoint = <&csiss_in>;
					};
				};
			};
		};
	};
};

&amba {
	ap1302_osc: ap1302oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency  = <48000000>;
		clock-output-names = "ap1302osc";
	};
};

/ {
	amba_pl: amba_pl@0 {
		CAPTURE_PIPELINE_0_mipi_csi2_rx_subsyst_0: mipi_csi2_rx_subsystem@a0020000 {
			csiss_ports: ports {
				#address-cells = <1>;
				#size-cells = <0>;

				csiss_port0: port@0 {
					reg = <0>;
					xlnx,video-format = <XVIP_VF_YUV_422>;
					xlnx,video-width = <8>;
					csiss_out: endpoint {
						remote-endpoint = <&scaler_in>;
					};
				};
				csiss_port1: port@1 {
					reg = <1>;
					xlnx,video-format = <XVIP_VF_YUV_422>;
					xlnx,video-width = <8>;
					csiss_in: endpoint {
						remote-endpoint = <&ias_out0>;
					};
				};
			};
		};

		CAPTURE_PIPLINE_v_frmbuf_wr_0: v_frmbuf_wr@a0000000 {
			reset-gpios = <&GPIO_axi_gpio_0 3 0 1>;
		};

		LIVE_VIDEO_DP_v_frmbuf_rd_0: v_frmbuf_rd@a00c0000 {
			reset-gpios = <&GPIO_axi_gpio_0 4 0 1>;
		};

		CAPTURE_PIPELINE_0_v_proc_ss_0: v_proc_ss@a0080000 {
			compatible = "xlnx,v-vpss-scaler-2.2";
			reset-gpios = <&GPIO_axi_gpio_0 5 0 1>;
			scaler_ports: ports {
				#address-cells = <1>;
				#size-cells = <0>;
				scaler_port0: port@0 {
					/* For xlnx,video-format user needs to fill as per their requirement */
					reg = <0>;
					xlnx,video-format = <XVIP_VF_YUV_422>;
					xlnx,video-width = <8>;
					scaler_in: endpoint {
						remote-endpoint = <&csiss_out>;
					};
				};
				scaler_port1: port@1 {
					/* For xlnx,video-format user needs to fill as per their requirement */
					reg = <1>;
					xlnx,video-format = <XVIP_VF_YUV_422>;
					xlnx,video-width = <8>;
					scaler_out: endpoint {
						remote-endpoint = <&vcap_csi_in>;
					};
				};
			};
		};

		vcap_csi {
			compatible = "xlnx,video";
			dma-names = "port0";
			dmas = <&CAPTURE_PIPLINE_v_frmbuf_wr_0 0>;
			vcap_ports: ports {
				#address-cells = <1>;
				#size-cells = <0>;
				vcap_port: port@0 {
					direction = "input";
					reg = <0>;
					vcap_csi_in: endpoint {
						remote-endpoint = <&scaler_out>;
					};
				};
			};
		};
	};
};
