[Unit]
Description=Load Default Camera Configuration
After=gpio-utils.service

[Service]
Type=oneshot
Environment=CAMERA_VARIANT="ar0144"
ExecStart=/usr/bin/load_camera_config $CAMERA_VARIANT

[Install]
WantedBy=multi-user.target
